*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body{
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
}

.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.hero-text h1{
    font-size: 3rem;
    margin-bottom: 24px;
}

.hero-text p{
    font-size: 1.2rem;
    margin-bottom: 24px;
}

.cta-btn{

}

.cta-btn:hover{}

.hero-products{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.product-card{
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*mobile responsiveness*/

.hamburger-button{
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;

    padding: 0;
}

/* Hamburger lines */
.hamburger-button .line{
    width: 100%;
    height: 4px;
    background-color: #333;
    transition: all 0.3s ease;
}

/* Change to "X" when active */
.hamburger-button.active .line:nth-child(1){
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-button.active .line:nth-child(2){
    opacity: 0;
}

.hamburger-button.active .line:nth-child(3){
    transform: rotate(-45deg) translate(5px, -5px);
}
